image:
  repository: fluent/fluent-bit
  tag: 4.1.0
  pullPolicy: IfNotPresent

serviceAccount:
  create: true

env:
  - name: FLUENT_ELASTICSEARCH_HOST
    value: "opensearch-cluster-master.logging.svc.cluster.local"
  - name: FLUENT_ELASTICSEARCH_PORT
    value: "9200"

config:
  service: |
    [SERVICE]
        Flush        1
        Daemon       Off
        Log_Level    info
        Parsers_File parsers.conf
        HTTP_Server  On
        HTTP_Listen  0.0.0.0
        HTTP_Port    2020

  inputs: |
    [INPUT]
        Name              tail
        Path              /var/log/containers/*.log
        Parser            docker
        Tag               kube.*
        Mem_Buf_Limit     5MB
        Skip_Long_Lines   On
        Refresh_Interval  10

  filters: |
    [FILTER]
        Name           kubernetes
        Match          kube.*
        Kube_URL       https://kubernetes.default.svc:443
        Merge_Log      On
        Keep_Log       Off
        Kube_Meta_Cache_TTL 300

  outputs: |
    [OUTPUT]
        Name                es
        Match               kube.*
        Host                opensearch-cluster-master.logging.svc.cluster.local
        Port                9200
        Index               k8s-logs
        Logstash_Format     Off
        Suppress_Type_Name  On
        HTTP_User           admin
        HTTP_Passwd         Admin123#StrongPass
        TLS                 On
        TLS.Verify          Off
        Retry_Limit         False

